# megalisk-generated: {{MODULE_NAME}}
server {
    listen 80;
    server_name {{DOMAIN}};

    root /usr/share/nginx/modules/{{MODULE_NAME}};
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }
}

server {
    listen 443 ssl;
    server_name {{DOMAIN}};

    ssl_certificate /etc/nginx/certs/localhost.crt;
    ssl_certificate_key /etc/nginx/certs/localhost.key;

    root /usr/share/nginx/modules/{{MODULE_NAME}};
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }
}
