OBELISK_AUTHORIZED_KEY=

AWS_ACCOUNT=
AWS_REGION=
REGISTRY=${AWS_ACCOUNT}.dkr.ecr.us-east-2.amazonaws.com
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

OBELISK_SSL=false
OBELISK_SSL_EMAIL=
OBELISK_SSL_STAGING=0

